@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@fontsource/poppins";
body{
  background-color: #001F3F;
}
@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.slick-next {
  right: 114px !important; 
}

.scroll-left {
  display: inline-block;
  white-space: nowrap;
  animation: scroll-left 30s linear infinite; }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
  